{% extends "layout.html" %}

{% block title %}
    Bark news
{% endblock %}

{% block main %}
    {% if showMessage %}
        <div class="alert" role="alert">Your news are successfully added!</div>
    {% endif %}

    <h2 class="pagetitle">Bark your news!</h2>
    <form action="/add-news" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Enter title" type="text">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input autocomplete="off" autofocus class="form-control" name="image" placeholder="Enter img title and format" type="text">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <textarea autocomplete="off" autofocus class="form-control" name="text" placeholder="Enter text"></textarea>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control">
                {% for item in currentCategories %}
                    <option value="{{ item['category_id'] }}">{{ item['category_title'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button" type="submit">Bark news</button>
    </form>

{% endblock %}